//
// Lists
// --------------------------------------------------

.list--unstyled {
	list-style: none;
	padding: 0;
	margin: 0;
}

.list--trenner {
	.list__item {
		padding-top: @padding-m;
		padding-bottom: @padding-m;
	}

	.list__item + .list__item {
		border-top: 1px solid @gray-light;
	}

	.list__item:first-child {
		padding-top: 0;
	}

	.list__item:last-child {
		padding-bottom: 0;
	}

	.list__title {
		padding-top: .2rem;
		padding-bottom: .2rem;
		display: block;
	}
}

.list--tasks {
	.list__item {
		.flex-display();
		.flex-flow(row nowrap);

		.list__title {
			.flex-grow(1);
			padding-right: @padding-m;
		}

		.list__actions {
			.flex-shrink(0);
		}
	}
}
